node_modules
public/images/service/*
public/images/profile/*
public/images/kategori/*
public/images/chat/*
public/images/biaya/*
public/storage
storage/app/public/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/data
